<div style="border:solid green 2px; padding: 20px">
    
<b>Hello!</b> We're glad to see you in code-reviewer territory. You've done a great job on the project, but let's get to know each other and make it even better! We have our own atmosphere here and a few rules:


1. My name is Alexander Matveevsky. I work as a code reviewer, and my main goal is not to point out your mistakes, but to share my experience and help you become a data analyst.
2. We speak on a first-come-first-served basis.
3. if you want to write or ask a question, don't be shy. Just choose your color for your comment.  
4. this is a training project, you don't have to be afraid of making a mistake.  
5. You have an unlimited number of attempts to pass the project.  
6. Let's Go!


---
I'll be color-coding comments, please don't delete them:

<div class="alert alert-block alert-danger">‚úç
    

__Reviewer's comment ‚Ññ1__

Needs fixing. The block requires some corrections. Work can't be accepted with the red comments.
</div>
    
---

<div class="alert alert-block alert-warning">üìù
    

__Reviewer's comment ‚Ññ1__


Remarks. Some recommendations.
</div>

---

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

Success. Everything is done succesfully.
</div>
    
---
    
I suggest that we work on the project in dialogue: if you change something in the project or respond to my comments, write about it. It will be easier for me to track changes if you highlight your comments:   
    
<div class="alert alert-info"> <b>Student —Åomments:</b> Student answer..</div>
    
All this will help to make the recheck of your project faster. If you have any questions about my comments, let me know, we'll figure it out together :)   
    
---

# Yandex.Music

# Contents <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Stage 3. Testing the hypotheses](#hypotheses)
    * [3.1 Hypothesis 1: user activity in the two cities](#activity)
    * [3.2 Hypothesis 2: music preferences on Monday and Friday](#week)
    * [3.3 Hypothesis 3: genre preferences in Springfield and Shelbyville](#genre)
* [Findings](#end)

## Introduction <a id='intro'></a>
Whenever we're doing research, we need to formulate hypotheses that we can then test. Sometimes we accept these hypotheses; other times, we reject them. To make the right decisions, a business must be able to understand whether or not it's making the right assumptions.

In this project, you'll compare the music preferences of the cities of Springfield and Shelbyville. You'll study real Yandex.Music data to test the hypotheses below and compare user behavior for these two cities.

### Goal: 
Test three hypotheses:
1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans.

### Stages 
Data on user behavior is stored in the file `/datasets/music_project_en.csv`. There is no information about the quality of the data, so you will need to explore it before testing the hypotheses. 

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Testing the hypotheses
 
[Back to Contents](#back)

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

Pay attention to the design of this project. It's a good practice to write out the goal and the main steps. I recommend that you take it on board.

## Stage 1. Data overview <a id='data_review'></a>

Open the data on Yandex.Music and explore it.

You'll need `pandas`, so import it.

In [1]:
import pandas as pd
# importing pandas

Read the file `music_project_en.csv` from the `/datasets/` folder and save it in the `df` variable:

Print the first 10 table rows:

In [2]:
df = pd.read_csv('/datasets/music_project_en.csv')
df
# reading the file and storing it to df

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

<div class="alert alert-block alert-warning">üìù
    

__Reviewer's comment ‚Ññ1__


I suggest separating logically different things:

    - library imports
    - data opening (this may not be a trivial process)
    - working code
    
This approach will improve code readability, reduce the time of searching for errors, if there are any, and exclude code re-execution
</div>

Obtaining the general information about the table with one command:

In [3]:
df.head(10)
# obtaining the first 10 rows from the df table

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

In [4]:
df.tail(10)
#I obtain the last 10 rows too to check consistency with the upper rows

,userID,Track,artist,genre,City,time,Day
65069,BE1AAD74,Waterwalk,Eduardo Gonzales,electronic,Springfield,20:38:59,Monday
65070,49F35D53,Ass Up,Rameez,dance,Springfield,14:08:58,Friday
65071,92378E24,Swing it Like You Mean it,OJOJOJ,techno,Springfield,21:12:56,Friday
65072,C532021D,We Can Not Be Silenced,P√§nzer,extrememetal,Springfield,08:38:24,Friday
65073,83A474E7,I Worship Only What You Bleed,The Black Dahlia Murder,extrememetal,Springfield,21:07:12,Monday
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

In [5]:
df.sample(10) #obtaining 10 random rows to check consistency in df

,userID,Track,artist,genre,City,time,Day
10889,3C3316D2,The Show Must Go On,Sergio Cremonese,western,Shelbyville,09:22:25,Wednesday
13317,DFBA6A5C,Altitude,NaN,dance,Springfield,13:02:35,Monday
63201,7CA7CAC3,Le Vicomte,Soel,pop,Springfield,09:18:32,Monday
30400,CBD6436,Gedenk,NaN,rusrock,Springfield,08:40:25,Monday
57079,468B364C,Love Of Ours (feat. Dub Sonata),Dom Pachino,hip,Springfield,13:20:13,Friday
28868,323DAB72,Balenciaga,NaN,ruspop,Springfield,14:00:06,Friday
1675,8756BC18,El Matador,El Matador,rap,Springfield,13:16:39,Friday
5839,474CB613,Tanz mit mir,Eisbrecher,rock,Springfield,20:35:42,Friday
51352,60FD755B,Coldbound,Catamenia,rock,Springfield,09:47:05,Monday
23142,38D4ACCC,Atomos VII,A Winged Victory for The Sullen,rock,Springfield,09:55:15,Wednesday

I can conclude that that from the above steps the df is relatively consistent on its contents and there are no major issues on it.

In [6]:
df.info() # obtaining general information about the data in df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

The table contains seven columns. They all store the same data type: `object`.

According to the documentation:
- `'userID'` ‚Äî user identifier
- `'Track'` ‚Äî track title
- `'artist'` ‚Äî artist's name
- `'genre'`
- `'City'` ‚Äî user's city
- `'time'` ‚Äî the exact time the track was played
- `'Day'` ‚Äî day of the week

We can see three issues with style in the column names:
1. Some names are uppercase, some are lowercase.
2. There are spaces in some names.
3. `Detect the third issue yourself and describe it here`.

The number of column values is different. This means the data contains missing values.

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data on a track that was played. Some columns describe the track itself: its title, artist and genre. The rest convey information about the user: the city they come from, the time they played the track. 

It's clear that the data is sufficient to test the hypotheses. However, there are missing values.

To move forward, we need to preprocess the data.

[Back to Contents](#back)

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

It's all good here. The conclusions in this project are very well laid out, indicating the problems that need to be solved next.

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

### Header style <a id='header_style'></a>
Print the column header:

In [7]:
print(df.columns) # the list of column names in the df table

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

<div class="alert alert-block alert-warning">üìù
    

__Reviewer's comment ‚Ññ1__

In the only or last line of the Jupiter code cell, the print() method need not be written, unlike the simulator

Change column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Delete spaces

In [8]:
df.columns = df.columns.str.lower()
df

,userid,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

In [9]:
print(df.columns)

Index(['  userid', 'track', 'artist', 'genre', '  city  ', 'time', 'day'], dtype='object')

In [10]:
df.columns = df.columns.str.replace(' ', '')
df.columns # renaming columns

Index(['userid', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

Great!

Check the result. Print the names of the columns once more:

In [11]:
df.columns
df # checking result: the list of column names

,userid,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
65074,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
65075,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
65076,C5E3A0D5,Jalopiina,NaN,industrial,Springfield,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

[Back to Contents](#back)

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use two `pandas` methods:

In [12]:
df.isna().sum() # calculating missing values

userid       0
track     1343
artist    7567
genre     1198
city         0
time         0
day          0
dtype: int64

In [13]:
df.isnull().sum() # calculating missing values

userid       0
track     1343
artist    7567
genre     1198
city         0
time         0
day          0
dtype: int64

Not all missing values affect the research. For instance, the missing values in `track` and `artist` are not critical. You can simply replace them with clear markers.

But missing values in `'genre'` can affect the comparison of music preferences in Springfield and Shelbyville. In real life, it would be useful to learn the reasons why the data is missing and try to make up for them. But we do not have that opportunity in this project. So you will have to:
* Fill in these missing values with markers
* Evaluate how much the missing values may affect your computations

Replace the missing values in `'track'`, `'artist'`, and `'genre'` with the string `'unknown'`. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in each of the columns:

In [14]:
columns_to_replace = ['track', 'artist', 'genre']
for columns in columns_to_replace:
    df[columns] = df[columns].fillna('unkown')
    print(df[columns])
    # looping over column names and replacing missing values with 'unknown'

0                        Kamigata To Boots
1              Delayed Because of Accident
2                        Funicul√¨ funicul√†
3                    Dragons in the Sunset
4                              Soul People
                       ...
65074                              My Name
65075    Maybe One Day (feat. Black Spade)
65076                            Jalopiina
65077                        Freight Train
65078            Tell Me Sweet Little Lies
Name: track, Length: 65079, dtype: object
0        The Mass Missile
1        Andreas R√∂nnberg
2             Mario Lanza
3              Fire + Ice
4              Space Echo
               ...
65074              McLean
65075         Blu & Exile
65076              unkown
65077       Chas McDevitt
65078        Monica Lopez
Name: artist, Length: 65079, dtype: object
0              rock
1              rock
2               pop
3              folk
4             dance
            ...
65074           rnb
65075           hip
65076    industrial
65077          rock
65078       country
Name: genre, Length: 65079, dtype: object

Make sure the table contains no more missing values. Count the missing values again.

In [15]:
df.isnull().sum() # counting missing values

userid    0
track     0
artist    0
genre     0
city      0
time      0
day       0
dtype: int64

As a result of the above action there are no more missing values on the df

[Back to Contents](#back)

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

Well done

### Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

In [16]:
df.duplicated().sum() # counting clear duplicates

3826

In [17]:
duplicated_df = df[df.duplicated()]
print(duplicated_df)

         userid                track                          artist  \
575    E7F07B46                Crazy                  The Manhattans
832    7671A47A           Johnny Go!                          NikitA
1216   69467B01        Change It All                  Harrison Storm
1754   13B1A573    Te Adoramos Jes√∫s                         Athenas
1964   B24668A0  Mad over You Mashup                      Nana Fofie
...         ...                  ...                             ...
65042  83E9C8C4        Buddhist Beat  Asian Zen Spa Music Meditation
65056  2E25BCD2          Psychobitch                          Easter
65059  F231C47E  All Summer in a Day                     VHS Or BETA
65067  F1B93F29          Poison Kiss                     Centerstone
65069  BE1AAD74            Waterwalk                Eduardo Gonzales

            genre         city      time        day
575           rnb  Springfield  13:39:46     Monday
832        ruspop  Springfield  21:59:33  Wednesday
1216       singer  Springfield  20:53:06  Wednesday
1754    spiritual  Springfield  13:19:37     Monday
1964       singer  Springfield  20:36:51     Monday
...           ...          ...       ...        ...
65042     ambient  Springfield  13:25:29     Monday
65056         pop  Springfield  14:53:07     Friday
65059  electronic  Springfield  20:31:23     Friday
65067        rock  Shelbyville  22:00:29     Monday
65069  electronic  Springfield  20:38:59     Monday

[3826 rows x 7 columns]

<div class="alert alert-block alert-warning">üìù
    

__Reviewer's comment ‚Ññ1__


It is better to use display() rather than print() to output a dataframe object. This way it will be clearer

Call the `pandas` method for getting rid of obvious duplicates:

In [18]:
df = df.drop_duplicates().reset_index(drop=True)
df # removing obvious duplicates

,userid,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
...,...,...,...,...,...,...,...
61248,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
61249,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hip,Shelbyville,10:00:00,Monday
61250,C5E3A0D5,Jalopiina,unkown,industrial,Springfield,20:09:26,Friday
61251,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
61252,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

Count obvious duplicates once more to make sure you have removed all of them:

In [19]:
df.duplicated().sum() # checking for duplicates

0

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

You mastered the removal of obvious duplicates, too, well done. Ideally, overwrite the index

Now get rid of implicit duplicates in the `genre` column. For example, the name of a genre can be written in different ways. Such errors will also affect the result.

Print a list of unique genre names, sorted in alphabetical order. To do so:
* Retrieve the intended DataFrame column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [20]:
print(df['genre'].unique()) # viewing unique genre names

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic'
 'unkown' 'alternative' 'children' 'rnb' 'hip' 'jazz' 'postrock' 'latin'
 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental' 'rusrock'
 'dnb' 't√ºrk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'hiphop' 'drum' 'extrememetal' 't√ºrk√ße'
 'experimental' 'easy' 'metalcore' 'modern' 'argentinetango' 'old' 'swing'
 'breaks' 'eurofolk' 'stonerrock' 'industrial' 'funk' 'middle' 'vari√©t√©'
 'other' 'adult' 'christian' 'thrash' 'gothic' 'international' 'muslim'
 'relax' 'schlager' 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage'
 'specialty' 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power'
 'death' 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european'
 'tech' 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera'
 'celtic' 'tradjazz' 'acoustic' 'epicmetal' 'hip-hop' 'historisch'
 'downbeat' 'downtempo' 'africa' 'audiobook' 'jewish' 's√§ngerportrait'
 'deutschrock' 'eastern' 'action' 'future' 'electropop' 'folklore'
 'bollywood' 'marschmusik' 'rnr' 'karaoke' 'indian' 'rancheras'
 'afrikaans' 'rhythm' 'sound' 'deutschspr' 'trip' 'lovers' 'choral'
 'dancepop' 'retro' 'smooth' 'mexican' 'brazilian' '√Ø√Æ√Ø' 'mood' 'surf'
 'gangsta' 'inspirational' 'idm' 'ethnic' 'bluegrass' 'broadway'
 'animated' 'americana' 'karadeniz' 'rockabilly' 'colombian' 'self' 'hop'
 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport' 'ragga' 'traditional'
 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop' 'glitch' 'documentary'
 'oceania' 'popeurodance' 'dark' 'vi' 'grunge' 'hardstyle' 'samba'
 'garage' 'art' 'folktronica' 'entehno' 'mediterranean' 'chamber' 'cuban'
 'taraftar' 'gypsy' 'hardtechno' 'shoegazing' 'bossa' 'latino' 'worldbeat'
 'malaysian' 'baile' 'ghazal' 'arabic' 'popelectronic' 'acid' 'kayokyoku'
 'neoklassik' 'tribal' 'tanzorchester' 'native' 'independent' 'cantautori'
 'handsup' 'punjabi' 'synthpop' 'rave' 'franz√∂sisch' 'quebecois' 'speech'
 'soulful' 'jam' 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow'
 'jungle' 'indipop' 'ax√©' 'fado' 'showtunes' 'arena' 'irish' 'mandopop'
 'forr√≥' 'dirty' 'regional']

In [21]:
sorted(df.genre.unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'ax√©',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forr√≥',
 'frankreich',
 'franz√∂sisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hip',
 'hip-hop',
 'hiphop',
 'historisch',
 'holiday',
 'hop',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 's√§ngerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'triphop',
 'tropical',
 't√ºrk',
 't√ºrk√ße',
 'unkown',
 'urban',
 'uzbek',
 'vari√©t√©',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 '√Ø√Æ√Ø']

In [22]:
for genre in df.genre.unique():
    if 'hip' in genre or 'hop' in genre:
        print(genre)

hip
triphop
hiphop
hip-hop
hop

I can observe that there are 4 different implicit duplicares for genre 'hip hop'

Look through the list to find implicit duplicates of the genre `hiphop`. These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, declare the function `replace_wrong_genres()` with two parameters: 
* `wrong_genres=` ‚Äî the list of duplicates
* `correct_genre=` ‚Äî the string with the correct value

The function should correct the names in the `'genre'` column from the `df` table, i.e. replace each value from the `wrong_genres` list with the value in `correct_genre`.

In [23]:
wrong_genres = ['hip', 'triphop', 'hip-hop', 'hop']
correct_genre = 'hiphop' # function for replacing implicit duplicates

Call `replace_wrong_genres()` and pass it arguments so that it clears implicit duplcates (`hip`, `hop`, and `hip-hop`) and replaces them with `hiphop`:

In [24]:
 def replace_wrong_genres(wrong_genres, correct_genre): 
    for item in wrong_genres:
        df['genre'] = df['genre'].replace(item, correct_genre) # removing implicit duplicates

In [25]:
replace_wrong_genres(wrong_genres, correct_genre)

In [26]:
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'ax√©',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forr√≥',
 'frankreich',
 'franz√∂sisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hiphop',
 'historisch',
 'holiday',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 's√§ngerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'tropical',
 't√ºrk',
 't√ºrk√ße',
 'unkown',
 'urban',
 'uzbek',
 'vari√©t√©',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 '√Ø√Æ√Ø']

In [27]:
replace_wrong_genres(['africa', 'afrikaans'], 'africa')
replace_wrong_genres(['arabesk', 'arabic'], 'arabic')
replace_wrong_genres(['folk', 'folklore'], 'folk')
replace_wrong_genres(['other','√Ø√Æ√Ø'], 'unkown')
replace_wrong_genres(['dub'], 'dubstep')
replace_wrong_genres(['reggae'], 'reggaeton')

I did an additional research on some items on genre list and found several more that are considered the same genre of music so I applied the same function on each one to eliminate additional implicit duplicates

In [28]:
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'ax√©',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forr√≥',
 'frankreich',
 'franz√∂sisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hiphop',
 'historisch',
 'holiday',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 's√§ngerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'tropical',
 't√ºrk',
 't√ºrk√ße',
 'unkown',
 'urban',
 'uzbek',
 'vari√©t√©',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat']

Make sure the duplicate names were removed. Print the list of unique values from the `'genre'` column:

In [29]:
df['genre'].unique() # checking for implicit duplicates

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unkown', 'alternative', 'children', 'rnb', 'hiphop',
       'jazz', 'postrock', 'latin', 'classical', 'metal', 'reggaeton',
       'blues', 'instrumental', 'rusrock', 'dnb', 't√ºrk', 'post',
       'country', 'psychedelic', 'conjazz', 'indie', 'posthardcore',
       'local', 'avantgarde', 'punk', 'videogame', 'techno', 'house',
       'christmas', 'melodic', 'caucasian', 'soundtrack', 'singer', 'ska',
       'salsa', 'ambient', 'film', 'western', 'rap', 'beats',
       "hard'n'heavy", 'progmetal', 'minimal', 'tropical', 'contemporary',
       'new', 'soul', 'holiday', 'german', 'jpop', 'spiritual', 'urban',
       'gospel', 'nujazz', 'folkmetal', 'trance', 'miscellaneous',
       'anime', 'hardcore', 'progressive', 'korean', 'numetal', 'vocal',
       'estrada', 'tango', 'loungeelectronic', 'classicmetal', 'dubstep',
       'club', 'deep', 'southern', 'black', 'folkrock', 'fitness',
       'french', 'disco', 'religious', 'drum', 'extrememetal', 't√ºrk√ße',
       'experimental', 'easy', 'metalcore', 'modern', 'argentinetango',
       'old', 'swing', 'breaks', 'eurofolk', 'stonerrock', 'industrial',
       'funk', 'middle', 'vari√©t√©', 'adult', 'christian', 'thrash',
       'gothic', 'international', 'muslim', 'relax', 'schlager',
       'caribbean', 'nu', 'breakbeat', 'comedy', 'chill', 'newage',
       'specialty', 'uzbek', 'k-pop', 'balkan', 'chinese', 'meditative',
       'power', 'death', 'grime', 'arabic', 'romance', 'flamenco',
       'leftfield', 'european', 'tech', 'newwave', 'dancehall', 'mpb',
       'piano', 'top', 'bigroom', 'opera', 'celtic', 'tradjazz',
       'acoustic', 'epicmetal', 'historisch', 'downbeat', 'downtempo',
       'africa', 'audiobook', 'jewish', 's√§ngerportrait', 'deutschrock',
       'eastern', 'action', 'future', 'electropop', 'bollywood',
       'marschmusik', 'rnr', 'karaoke', 'indian', 'rancheras', 'rhythm',
       'sound', 'deutschspr', 'trip', 'lovers', 'choral', 'dancepop',
       'retro', 'smooth', 'mexican', 'brazilian', 'mood', 'surf',
       'gangsta', 'inspirational', 'idm', 'ethnic', 'bluegrass',
       'broadway', 'animated', 'americana', 'karadeniz', 'rockabilly',
       'colombian', 'self', 'sertanejo', 'japanese', 'canzone', 'lounge',
       'sport', 'ragga', 'traditional', 'gitarre', 'frankreich', 'emo',
       'laiko', 'cantopop', 'glitch', 'documentary', 'oceania',
       'popeurodance', 'dark', 'vi', 'grunge', 'hardstyle', 'samba',
       'garage', 'art', 'folktronica', 'entehno', 'mediterranean',
       'chamber', 'cuban', 'taraftar', 'gypsy', 'hardtechno',
       'shoegazing', 'bossa', 'latino', 'worldbeat', 'malaysian', 'baile',
       'ghazal', 'popelectronic', 'acid', 'kayokyoku', 'neoklassik',
       'tribal', 'tanzorchester', 'native', 'independent', 'cantautori',
       'handsup', 'punjabi', 'synthpop', 'rave', 'franz√∂sisch',
       'quebecois', 'speech', 'soulful', 'jam', 'ram', 'horror',
       'orchestral', 'neue', 'roots', 'slow', 'jungle', 'indipop', 'ax√©',
       'fado', 'showtunes', 'arena', 'irish', 'mandopop', 'forr√≥',
       'dirty', 'regional'], dtype=object)

Now all the list of genres are clean

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

Well done, you managed with the duplicates. The function is written absolutely right.

[Back to Contents](#back)

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Obvious and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All missing values have been replaced with `'unknown'`. But we still have to see whether the missing values in `'genre'` will affect our calculations.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to testing hypotheses.

[Back to Contents](#back)

## Stage 3. Testing hypotheses <a id='hypotheses'></a>

### Hypothesis 1: comparing user behavior in two cities <a id='activity'></a>

According to the first hypothesis, users from Springfield and Shelbyville listen to music differently. Test this using the data on three days of the week: Monday, Wednesday, and Friday.

* Divide the users into groups by city.
* Compare how many tracks each group played on Monday, Wednesday, and Friday.

For the sake of practice, perform each computation separately. 

Evaluate user activity in each city. Group the data by city and find the number of songs played in each group.

In [30]:
df.groupby('city') # Counting up the tracks played in each city

In [31]:
df.groupby('city')['track'].count()

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64

Springfield has more tracks played than Shelbyville. But that does not imply that citizens of Springfield listen to music more often. This city is simply bigger, and there are more users.

Now group the data by day of the week and find the number of tracks played on Monday, Wednesday, and Friday.

In [32]:
df.groupby('day')['track'].count() # Calculating tracks played on each of the three days

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion.

You have seen how grouping by city or day works. Now write a function that will group by both.

Create the `number_tracks()` function to calculate the number of songs played for a given day and city. It will require two parameters:
* day of the week
* name of the city

In the function, use a variable to store the rows from the original table, where:
  * `'day'` column value is equal to the `day` parameter
  * `'city'` column value is equal to the `city` parameter

Apply consecutive filtering with logical indexing.

Then calculate the `'user_id'` column values in the resulting table. Store the result to a new variable. Return this variable from the function.

In [33]:
df.groupby(['day', 'city'])['track'].count()

day        city
Friday     Shelbyville     5895
           Springfield    15945
Monday     Shelbyville     5614
           Springfield    15740
Wednesday  Shelbyville     7003
           Springfield    11056
Name: track, dtype: int64

In [34]:
def number_tracks(day,city):
    track_list = df[(df['day']==day) & (df['city']==city)]
    track_list_count = track_list_count = track_list['userid'].count()
    return track_list_count
# <creating the function number_tracks()>
# We'll declare a function with two parameters: day=, city=.
# Let the track_list variable store the df rows where
# the value in the 'day' column is equal to the day= parameter and, at the same time, 
# the value in the 'city' column is equal to the city= parameter (apply consecutive filtering 
# with logical indexing).
# Let the track_list_count variable store the number of 'user_id' column values in track_list
# (found with the count() method).
# Let the function return a number: the value of track_list_count.

# The function counts tracked played for a certain city and day.
# It first retrieves the rows with the intended day from the table,
# then filters out the rows with the intended city from the result,
# then finds the number of 'user_id' values in the filtered table,
# then returns that number.
# To see what it returns, wrap the function call in print().

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

Great!)

Call `number_tracks()` six times, changing the parameter values, so that you retrieve the data on both cities for each of the three days.

In [35]:
number_tracks('Monday', 'Springfield') # the number of songs played in Springfield on Monday

15740

In [36]:
number_tracks('Monday', 'Shelbyville') # the number of songs played in Shelbyville on Monday

5614

In [37]:
number_tracks('Wednesday', 'Springfield') # the number of songs played in Springfield on Wednesday

11056

In [38]:
number_tracks('Wednesday', 'Shelbyville') # the number of songs played in Shelbyville on Wednesday

7003

In [39]:
number_tracks('Friday', 'Springfield') # the number of songs played in Springfield on Friday

15945

In [40]:
number_tracks('Friday', 'Shelbyville') # the number of songs played in Shelbyville on Friday

5895

In [41]:
print(df.groupby(['day','city']).size())
 # table with results

day        city
Friday     Shelbyville     5895
           Springfield    15945
Monday     Shelbyville     5614
           Springfield    15740
Wednesday  Shelbyville     7003
           Springfield    11056
dtype: int64

**Conclusions**

The data reveals differences in user behavior:

- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesday there is a decrease in activity.
- In Shelbyville, on the contrary, users listen to music more on Wednesday. User activity on Monday and Friday is smaller.

So the first hypothesis seems to be correct.

[Back to Contents](#back)

### Hypothesis 2: music at the beginning and end of the week <a id='week'></a>

According to the second hypothesis, on Monday morning and Friday night, citizens of Springfield listen to genres that differ from ones users from Shelbyville enjoy.

Get tables (make sure that the name of your combined table matches the DataFrame given in the two code blocks below):
* For Springfield ‚Äî `spr_general`
* For Shelbyville ‚Äî `shel_general`

In [42]:
spr_general = df[df['city'] == 'Springfield']
print(spr_general) # create the spr_general table from the df rows, 
# where the value in the 'city' column is 'Springfield'

         userid                          track                   artist  \
1      55204538    Delayed Because of Accident         Andreas R√∂nnberg
4      E2DC1FAE                    Soul People               Space Echo
6      4CB90AA5                           True             Roman Messer
7      F03E1C1F               Feeling This Way          Polina Griffith
8      8FA1D3BE                       L‚Äôestate              Julia Dalia
...         ...                            ...                      ...
61247  83A474E7  I Worship Only What You Bleed  The Black Dahlia Murder
61248  729CBB09                        My Name                   McLean
61250  C5E3A0D5                      Jalopiina                   unkown
61251  321D0506                  Freight Train            Chas McDevitt
61252  3A64EF84      Tell Me Sweet Little Lies             Monica Lopez

              genre         city      time        day
1              rock  Springfield  14:07:09     Friday
4             dance  Springfield  08:34:34     Monday
6             dance  Springfield  13:00:07  Wednesday
7             dance  Springfield  20:47:49  Wednesday
8            ruspop  Springfield  09:17:40     Friday
...             ...          ...       ...        ...
61247  extrememetal  Springfield  21:07:12     Monday
61248           rnb  Springfield  13:32:28  Wednesday
61250    industrial  Springfield  20:09:26     Friday
61251          rock  Springfield  21:43:59     Friday
61252       country  Springfield  21:59:46     Friday

[42741 rows x 7 columns]

In [43]:
shel_general = df[df['city'] == 'Shelbyville']
print(shel_general) # create the shel_general from the df rows,
# where the value in the 'city' column is 'Shelbyville'

         userid                              track              artist  \
0      FFB692EC                  Kamigata To Boots    The Mass Missile
2        20EC38                  Funicul√¨ funicul√†         Mario Lanza
3      A3DD03C9              Dragons in the Sunset          Fire + Ice
5      842029A1                             Chains            Obladaet
9      E772D5C0                          Pessimist              unkown
...         ...                                ...                 ...
61239  D94F810B        Theme from the Walking Dead  Proyecto Halloween
61240  BC8EC5CF       Red Lips: Gta (Rover Rework)               Rover
61241  29E04611                       Bre Petrunko       Perunika Trio
61242  1B91C621             (Hello) Cloud Mountain     sleepmakeswaves
61249  D08D4A55  Maybe One Day (feat. Black Spade)         Blu & Exile

            genre         city      time        day
0            rock  Shelbyville  20:28:33  Wednesday
2             pop  Shelbyville  20:58:07  Wednesday
3            folk  Shelbyville  08:37:09     Monday
5          rusrap  Shelbyville  13:09:41     Friday
9           dance  Shelbyville  21:20:49  Wednesday
...           ...          ...       ...        ...
61239        film  Shelbyville  21:14:40     Monday
61240  electronic  Shelbyville  21:06:50     Monday
61241       world  Shelbyville  13:56:00     Monday
61242    postrock  Shelbyville  09:22:13     Monday
61249      hiphop  Shelbyville  10:00:00     Monday

[18512 rows x 7 columns]

Write the `genre_weekday()` function with four parameters:
* A table for data (`df`)
* The day of the week (`day`)
* The first timestamp, in 'hh:mm' format (`time1`)
* The last timestamp, in 'hh:mm' format (`time2`)

The function should return info on the 15 most popular genres on a given day within the period between the two timestamps.

In [44]:
# 1) Let the genre_df variable store the rows that meet several conditions:
#    - the value in the 'day' column is equal to the value of the day= argument
#    - the value in the 'time' column is greater than the value of the time1= argument
#    - the value in the 'time' column is smaller than the value of the time2= argument
#    Use consecutive filtering with logical indexing.

# 2) Group genre_df by the 'genre' column, take one of its columns, 
#    and use the count() method to find the number of entries for each of 
#    the represented genres; store the resulting Series to the
#    genre_df_count variable

# 3) Sort genre_df_count in descending order of frequency and store the result
#    to the genre_df_sorted variable

# 4) Return a Series object with the first 15 genre_df_sorted value - the 15 most
#    popular genres (on a given day, within a certain timeframe)

# Write your function here
def genre_weekday(df, day, time1, time2):
    # consecutive filtering
    # Create the variable genre_df which will store only those df rows where the day is equal to day=
    genre_df = df[df['day'] == day] # write your code here
    
    # filter again so that genre_df will store only those rows where the time is smaller than time2=
    genre_df = df[(df['day'] == day) & (df['time'] < time2)] # write your code here
    
    # filter once more so that genre_df will store only rows where the time is greater than time1=
    genre_df = df[(df['day'] == day) & (df['time'] > time1) & (df['time'] < time2)] # write your code here
    
    # group the filtered DataFrame by the column with the names of genres, take the genre column, and find the number of rows for each genre with the count() method
    genre_df_count = genre_df_count = genre_df.groupby('genre').count() # write your code here
    
    # sort the result in descending order (so that the most popular genres come first in the Series object)
    genre_df_sorted = genre_df_count.sort_values(by= 'genre', ascending = False) # write your code here
    
    # we will return the Series object storing the 15 most popular genres on a given day in a given timeframe
    return genre_df_sorted[:15]

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7AM to 11AM) and on Friday evening (from 17:00 to 23:00):

In [45]:
genre_weekday(spr_general, 'Monday', '07:00', '11:00')
 # calling the function for Monday morning in Springfield (use spr_general instead of the df table)

           userid  track  artist  city  time  day
genre
worldbeat       1      1       1     1     1    1
world         181    181     181   181   181  181
western        10     10      10    10    10   10
vocal           8      8       8     8     8    8
videogame       7      7       7     7     7    7
vari√©t√©         1      1       1     1     1    1
uzbek           3      3       3     3     3    3
urban          15     15      15    15    15   15
unkown        165    165     165   165   165  165
t√ºrk√ße          2      2       2     2     2    2
tropical        8      8       8     8     8    8
trance         12     12      12    12    12   12
tradjazz        1      1       1     1     1    1
thrash         10     10      10    10    10   10
techno         14     14      14    14    14   14

In [46]:
genre_weekday(shel_general, 'Monday', '07:00', '11:00')
# calling the function for Monday morning in Shelbyville (use shel_general instead of the df table)

            userid  track  artist  city  time  day
genre
world           36     36      36    36    36   36
western          7      7       7     7     7    7
vocal            2      2       2     2     2    2
videogame        1      1       1     1     1    1
vari√©t√©          3      3       3     3     3    3
uzbek            1      1       1     1     1    1
urban            6      6       6     6     6    6
unkown          18     18      18    18    18   18
tropical         2      2       2     2     2    2
trance           2      2       2     2     2    2
thrash           1      1       1     1     1    1
techno           1      1       1     1     1    1
tango            1      1       1     1     1    1
swing            2      2       2     2     2    2
stonerrock       1      1       1     1     1    1

In [47]:
genre_weekday(spr_general, 'Friday', '17:00', '23:00')
# calling the function for Friday evening in Springfield

           userid  track  artist  city  time  day
genre
world         208    208     208   208   208  208
western         4      4       4     4     4    4
vocal           9      9       9     9     9    9
videogame       5      5       5     5     5    5
vari√©t√©         6      6       6     6     6    6
uzbek           1      1       1     1     1    1
urban          22     22      22    22    22   22
unkown        119    119     119   119   119  119
t√ºrk√ße          4      4       4     4     4    4
t√ºrk            2      2       2     2     2    2
tropical        7      7       7     7     7    7
trance         15     15      15    15    15   15
thrash          6      6       6     6     6    6
techno         19     19      19    19    19   19
tech            5      5       5     5     5    5

In [48]:
genre_weekday(shel_general, 'Friday', '17:00', '23:00')
# calling the function for Friday evening in Shelbyville

           userid  track  artist  city  time  day
genre
world          54     54      54    54    54   54
western         5      5       5     5     5    5
vocal           2      2       2     2     2    2
videogame       3      3       3     3     3    3
vari√©t√©         4      4       4     4     4    4
uzbek           1      1       1     1     1    1
urban           6      6       6     6     6    6
unkown         49     49      49    49    49   49
tropical        2      2       2     2     2    2
trip            1      1       1     1     1    1
trance          2      2       2     2     2    2
thrash          1      1       1     1     1    1
techno          4      4       4     4     4    4
tech            1      1       1     1     1    1
tango           2      2       2     2     2    2

**Conclusion**

Having compared the top 15 genres on Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to similar music. The top five genres are the same, only rock and electronic have switched places.

2. In Springfield, the number of missing values turned out to be so big that the value `'unknown'` came in 10th. This means that missing values make up a considerable portion of the data, which may be a basis for questioning the reliability of our conclusions.

For Friday evening, the situation is similar. Individual genres vary somewhat, but on the whole, the top 15 is similar for the two cities.

Thus, the second hypothesis has been partially proven true:
* Users listen to similar music at the beginning and end of the week.
* There is no major difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result questionable. In Springfield, there are so many that they affect our top 15. Were we not missing these values, things might look different.

[Back to Contents](#back)

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

Everything is perfect.

### Hypothesis 3: genre preferences in Springfield and Shelbyville <a id='genre'></a>

Hypothesis: Shelbyville loves rap music. Springfield's citizens are more into pop.

Group the `spr_general` table by genre and find the number of songs played for each genre with the `count()` method. Then sort the result in descending order and store it to `spr_genres`.

In [49]:
spr_genres = spr_general.groupby('genre')
# on one line: group the spr_general table by the 'genre' column, 
spr_genres = spr_general.groupby('genre').count()
# count the 'genre' values with count() in the grouping, 
spr_genres = spr_general.sort_values(by = 'genre', ascending = False)
print(spr_genres)
# sort the resulting Series in descending order, and store it to spr_genres

         userid                       track  \
27939  D7FB50DA             Drumming Circle
38299   2D0E6AA   The Song of the Butterfly
45415  375487DA                  Invocation
28906  8D96A84F        Sorry For My English
28920  A072FADD                  Uzbekistan
...         ...                         ...
9420   D3611A58                     Voyager
57580  23C64044           Don't Stop Me Now
37784  77D3A7D9  Prelude ‚Äì Ne Me Qui Te Pas
20264  B02ED3AB  Prelude ‚Äì Ne Me Qui Te Pas
31916  C40BC5DF            Shot in the Dark

                                                  artist      genre  \
27939                                   Professor Trance  worldbeat
38299  Estas Tonne Istvan Sky Kek Eg Pablo Arellano &...      world
45415                                            Krishan      world
28906                                              In2it      world
28920                          G√ºlay & the Ensemble Aras      world
...                                                  ...        ...
9420                                      Jo Blankenburg     action
57580                              Acoustic Heartstrings   acoustic
37784                                             unkown   acoustic
20264                                             unkown   acoustic
31916                                         Four80East       acid

              city      time        day
27939  Springfield  09:30:47     Monday
38299  Springfield  09:45:12     Monday
45415  Springfield  21:42:56  Wednesday
28906  Springfield  14:38:42     Friday
28920  Springfield  20:38:57     Friday
...            ...       ...        ...
9420   Springfield  14:20:29     Monday
57580  Springfield  13:30:01  Wednesday
37784  Springfield  14:27:34     Monday
20264  Springfield  13:31:03  Wednesday
31916  Springfield  09:44:12     Friday

[42741 rows x 7 columns]

In [53]:
spr_genres = spr_general.groupby('genre')['genre'].count().sort_values(ascending = False)

Print the first 10 rows from `spr_genres`:

In [50]:
print(spr_genres[:10]) # printing the first 10 rows of spr_genres

         userid                                            track  \
27939  D7FB50DA                                  Drumming Circle
38299   2D0E6AA                        The Song of the Butterfly
45415  375487DA                                       Invocation
28906  8D96A84F                             Sorry For My English
28920  A072FADD                                       Uzbekistan
5146   F12814FB                                             Sara
20320  D688F80B                                          Enta eh
20308  EA52C4AF                                       Abre Ramce
55182  12B1B81D                                      N√≥s e o Mar
45310   39DA43B  Sevens/Michael Kennedy's/The Cup Of Tea (Reels)

                                                  artist      genre  \
27939                                   Professor Trance  worldbeat
38299  Estas Tonne Istvan Sky Kek Eg Pablo Arellano &...      world
45415                                            Krishan      world
28906                                              In2it      world
28920                          G√ºlay & the Ensemble Aras      world
5146                                     Elji Beatzkilla      world
20320                                        Nancy Ajram      world
20308                        West Philadelphia Orchestra      world
55182                                         Tamba Trio      world
45310                                        Liz Carroll      world

              city      time        day
27939  Springfield  09:30:47     Monday
38299  Springfield  09:45:12     Monday
45415  Springfield  21:42:56  Wednesday
28906  Springfield  14:38:42     Friday
28920  Springfield  20:38:57     Friday
5146   Springfield  13:28:12  Wednesday
20320  Springfield  14:52:56     Friday
20308  Springfield  21:36:17     Monday
55182  Springfield  13:46:20     Monday
45310  Springfield  13:35:11     Monday

In [54]:
spr_genres[:10]

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2148
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: genre, dtype: int64

Now do the same with the data on Shelbyville.

Group the `shel_general` table by genre and find the number of songs played for each genre. Then sort the result in descending order and store it to the `shel_genres` table:

In [56]:
shel_genres = shel_general.groupby('genre')
# on one line: group the shel_general table by the 'genre' column, 
shel_genres = shel_general.groupby('genre').count()
# count the 'genre' values in the grouping with count(), 
shel_genres = shel_general.sort_values(by = 'genre', ascending = False)
# sort the resulting Series in descending order and store it to shel_genres
shel_genres = shel_general.groupby('genre')['genre'].count().sort_values(ascending = False)

Print the first 10 rows of `shel_genres`:

In [52]:
# printing the first 10 rows from shel_genres

In [57]:
shel_genres[:10]

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          982
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: genre, dtype: int64

**Conclusion**

The hypothesis has been partially proven true:
* Pop music is the most popular genre in Springfield, as expected.
* However, pop music turned out to be equally popular in Springfield and Shelbyville, and rap wasn't in the top 5 for either city.

<div class="alert alert-block alert-warning">üìù
    

__Reviewer's comment ‚Ññ1__


Above showed a more correct solution. Please take a look

[Back to Contents](#back)

# Findings <a id='end'></a>

We have tested the following three hypotheses:

1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans.

After analyzing the data, we concluded:

1. User activity in Springfield and Shelbyville depends on the day of the week, though the cities vary in different ways. 

The first hypothesis is fully accepted.

2. Musical preferences do not vary significantly over the course of the week in both Springfield and Shelbyville. We can see small differences in order on Mondays, but:
* In Springfield and Shelbyville, people listen to pop music most.

So we can't accept this hypothesis. We must also keep in mind that the result could have been different if not for the missing values.

3. It turns out that the musical preferences of users from Springfield and Shelbyville are quite similar.

The third hypothesis is rejected. If there is any difference in preferences, it cannot be seen from this data.

### Note 
In real projects, research involves statistical hypothesis testing, which is more precise and more quantitative. Also note that you cannot always draw conclusions about an entire city based on the data from just one source.

You will study hypothesis testing in the sprint on statistical data analysis.

[Back to Contents](#back)

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__Reviewer's comment ‚Ññ1__

That's a great bottom line.
    
    
---    
    
You did great on your first project and mastered the basic functionality of Python for analytics.